.page {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: 1fr;
  align-items: start;
}

.event {
  grid-column: 1;
  padding: 20px;
  border: 1px solid var(--card-event-border-color);
  border-radius: 24px;
  margin-right: 5px;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--card-event-background);
  color: #fff;
  max-width: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    width: 90%;
    border-radius: 50%;
  }

  .name {
    padding: 20px 10px;
    h3 {
      font-size: 24px;
      line-height: 32px;
      padding: 24px;
      text-shadow: 0 0 1px rgb(0 0 0 / 20%);
      opacity: .9;
      font-weight: 900;
    }
  }

  .info {
    padding: 24px 32px;
  }
}



.feed {
  grid-column: 1;
  
  .title {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      font-size: 42px;
      margin-top: 0;
    }

    .button {
      padding: 15px 30px;
      background-image: var(--button-gradient);
      border-radius: 56px;
      font-weight: 900;
      color: #fff;
      height: 48px;
    }
  }
}

.itemFeed {
  margin-bottom: 10px;

  .cardFeed {
    padding: 30px;
    border: 1px solid var(--card-comment-border-color);
    border-radius: 24px;
    background-color: var(--card-comment-background);

    .header {
      display: flex;
      justify-content: space-between;
      height: 45px;
    }

    .address {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
    }

    .actions {
      display: flex;

      svg {
        height: 20px;
        cursor: pointer;
        fill: rgba(255, 255, 255, 0.88); 
        paint-order: fill;
      }

      .counter {
        margin-top: 7px;
        margin-right: 5px;
      }

      .like {
        display: flex;
        align-items: center;
        height: 30px;
        margin-right: 30px;
      }
      .dislike {
        display: flex;
        align-items: center;
        height: 30px;
        svg {
          transform: rotateX(180deg);
          margin-left: 5px;
          margin-top: 11px;
        }
      }
    }

    .imageFeed {
      margin-bottom: 15px;
      // max-width: 100%;
      img {
        width: 100%;
      }
    }
  }
}


@media (min-width: 1024px) {

  .page {
    width: 900px;
    grid-template-columns: 350px 1fr;
  }
  .event {
    grid-column: 1;
    margin-right: 40px;
  }
  .feed {
    grid-column: 2;
    .title {
      flex-flow: row;
      align-items: flex-start;
      margin-bottom: 0px;
    }
  }

  .itemFeed {
    margin-bottom: 40px;
  }
  
}

@media (min-width: 1560px) {
  .page {
    width: 1400px;
    grid-template-columns: 460px 1fr;
  }
}