.poap {
  position: relative;
  border-radius: 24px;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  width: 50%;
  height: 60vh;

  .placeholder {
    border-radius: 24px;
    background-color: rgba(0,0,0,.08);
    padding-bottom: 133.333333%;
  }

  .background {
    position: absolute;
    border-radius: 24px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform .3s ease;
    transform: scale(1);

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 24px;
      user-select: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 24px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);

    .imageAr {
      padding-bottom: 100%;
      position: relative;
    }

    .container {
      padding: 16px 24px 8px;
      transition: transform .3s ease;
      transform: scale(1);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
      user-select: none;
      backface-visibility: hidden;
    }

    svg {
      backface-visibility: hidden;
    }
  }

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 12px;
      padding: 0 16px;
      line-height: 18px;

      font-weight: 900;
      color: #FFF;
      text-align: center;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      opacity: .9;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  .info {
    text-align: center;
    color: #FFF;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    opacity: .9;
    padding: 24px 0 32px;
  }

  &.large {
    h3 {
      font-size: 20px;
      line-height: 28px;
      -webkit-line-clamp: 4;
    }

    .ui-poap-image {
      padding: 20px;

      &-container {
        padding: 32px 48px 24px;
      }

      svg {
        animation: rotate-svg 30s linear infinite;
        cursor: zoom-in;
      }
    }

    .info {
      font-size: 16px;
      display: block;
    }
  }
}

// .ui-poap-grid .ui-poap {
//   &:hover {
//     .ui-poap-background {
//       transform: scale(0.99);
//     }

    .imageContainer {
      transform: scale(1.02);
    }


@keyframes rotate-svg {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}


// @include breakpoint-md() {
//   .poap {
//     .image {
//       padding: 20px;

//       .container {
//         padding: 32px 48px 24px;
//       }
//     }

//     .name {
//       h3 {
//         font-size: 18px;
//         padding: 0 24px;
//         line-height: 26px;
//       }
//     }

//     .info {
//       display: block;
//     }

//     &.large {
//       .image {
//         padding: 22px;
//       }

//       .container {
//         padding: 40px 56px 32px;
//       }

//       .name {
//         h3 {
//           font-size: 24px;
//           line-height: 32px;
//         }
//       }
//     }
//   }
// }


.event {
  grid-column: 1;
  padding: 20px;
  border: 1px solid #c5c4c4;
  border-radius: 24px;
  margin: 20px;
  text-align: center;
  background-color: rgba(167, 127, 231, 0.801);
  color: #fff;
  max-width: 495px;
  min-height: 633px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;

  .image {
    width: 80%;
    border-radius: 50%;
  }

  .name {
    padding: 20px 10px;
    h3 {
      font-size: 24px;
      line-height: 32px;
      padding: 24px;
      text-shadow: 0 0 1px rgb(0 0 0 / 20%);
      opacity: .9;
      font-weight: 900;
    }
  }

  .info {
    padding: 24px 32px;
  }
}