.container {
  padding: 0 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
